:root {
    --main-bg-color: #f8f5f2;
    --blue-accent: #141f45;
    --dark-blue-accent: #0b1228;
    --orange-accent: #fa7b45;
    --main-text-color: #d9d9d9;
    --secondary-bg-color: #a0a8c0;
    --secondary-text-color: #333333;

    --number-of-columns: 8;
    --top-bar-height: 4rem;
    --log-left-top: 0.5rem;
    --logo-size: calc(var(--top-bar-height) - var(--log-left-top) * 2);
    --albumArt-size: 78%;

    --sidemenu-width: 25rem;

    --test-color: #ff00ff;

    --moss-green: #3A6F52;
    --pastel-green: #6E9F7A;
    --rich-green: #2E5530;
;
}

@media (max-width: 80rem) {
:root {
    --number-of-columns: 3;
    --sidemenu-width: 15rem;
}
}

body{
    font-family: 'Bricolage Grotesque';
    background-color: var(--main-bg-color);
}
#topBar{
    width: 100%;
    height: var(--top-bar-height);
    background-color: var(--blue-accent);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
#logoDiv{
    width: var(--logo-size);
    height: var(--logo-size);
    position: fixed;
    left: var(--log-left-top);
    top: var(--log-left-top);
    z-index: 9999;
    cursor: pointer;
}
#logoLink img{
    width: 100%;
    height: auto;
}
#hamburgerDiv {
    width: 4rem;
    height: 4rem;
    position: fixed;
    right: 0.2rem;
    top: 0rem;
    z-index: 9999;
    cursor: pointer;
}
#hamburgerImg {
    width: 100%;
    height: auto;
}

.sideMenu{
    position: fixed;
    top: 0;
    right: -100em;
    width: var(--sidemenu-width);
    height: 100%;
    background-color: #333;
    transition: right 0.3s ease;
    display: flex;
    flex-direction: column;
    grid-area: 5em;
    z-index: 11;
}

.sideMenu.expanded{
    right: 0;
}
#addEntry {
    color: var(--orange-accent);
    padding: 2em;
    background: linear-gradient(to right bottom, var(--dark-blue-accent), var(--blue-accent), var(--dark-blue-accent));

    text-align: center;
    cursor: pointer;
}
#addEntry:hover {
    background: var(--dark-blue-accent);
}
#suggestionLink{
    color: var(--main-text-color);
    padding: 1.6em;
    background: linear-gradient(to bottom left, var(--dark-blue-accent), var(--blue-accent), var(--dark-blue-accent));

    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-style: italic;
}
#suggestionLink:hover {
    background: var(--dark-blue-accent);
}
#aboutLink{
    color: var(--secondary-text-color);
    font-size: 1,5rem;
    padding: 2rem;
    margin-top: auto;
    background: linear-gradient(to right bottom, var(--orange-accent), var(--dark-orange-accent));
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
#aboutLink:hover {
    background: var(--dark-orange-accent);
}
#albumCont {
    position: sticky;
    top: var(--top-bar-height);
    margin-top: var(--top-bar-height);
    width: 100%;
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(var(--number-of-columns), 1fr);
}

#albumCont img, #albumCont div {
    cursor: pointer;
}

.albumCard {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7.5%;

    background-color: var(--secondary-bg-color);
}

.albumArt{
    height: var(--albumArt-size);
    width: var(--albumArt-size);
    margin-top: 0.4rem;
    border-radius: 0.8rem;
    border: var(--secondary-text-color) 0.2rem solid;
}

.reviewText {
    width: 75%;
    background: var(--blue-accent);
    color: var(--main-text-color);
    padding: 0.2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    overflow: hidden;
    max-height: 3.5em; /* viser ca. to linjer */
    transition: max-height 0.7s ease;
}

.reviewText.expanded {
    max-height: 300rem; /* utvid når trykket */
    word-break: break-word;   /* <-- IMPORTANT */
    overflow-wrap: break-word; /* backup */
}