:root {
    --main-bg-color: #f0f0f0;
    --main-text-color: #333333;
    --number-of-columns: 12;
}

#albumCont {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(var(--number-of-columns), 1fr);
    background-color: brown;
}

#albumCont img, #albumCont div {
    width: 100%;
    height: auto;
    cursor: pointer;
}
.reviewText {
    width: 300px;
    background: #222;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
    max-height: 3.5em; /* viser ca. to linjer */
    transition: max-height 0.7s ease;
}

.reviewText.expanded {
    max-height: 1000px; /* utvid når trykket */
}

#hamburgerDiv {
    width: 3rem;
    height: 3rem;
    position: relative;
    cursor: pointer;
}

.sideMenu{
    position: fixed;
    top: 0;
    right: -100em;
    width: 25em;
    height: 100%;
    background-color: #333;
    transition: right 0.3s ease;
    display: flex;
    flex-direction: column;
    grid-area: 5em;
}

.sideMenu.expanded{
    right: 0;
}

#addEntry {
    color: white;
    padding: 1em;
    background-color: #555;
    text-align: center;
    cursor: pointer;
}

#addEntryOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    transition: visibility 0s, opacity 0.1s ease;
}
/* 
Designe først albumBox
Lage en container for basic setup, AlbumCont er til dynamisk
Jeg vil styre --number-of-columns fra nettsiden
Det skal funke på mobil
 */