:root {
    --main-bg-color: #f8f5f2;
    --blue-accent: #141f45;
    --orange-accent: #fa7b45;
    --main-text-color: #d9d9d9;
    --secondary-bg-color: #a0a8c0;
    --secondary-text-color: #333333;


    --number-of-columns: 8;
    --top-bar-height: 4rem;
}

body{
    font-family: 'Bricolage Grotesque';
    background-color: var(--main-bg-color);
}
#topBar{
    width: 100%;
    height: var(--top-bar-height);
    background-color: var(--blue-accent);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

#hamburgerDiv {
    width: 4rem;
    height: 4rem;
    position: fixed;
    right: 0.2rem;
    top: 0rem;
    z-index: 9999;
    cursor: pointer;
}
#hamburgerImg {
    width: 100%;
    height: auto;
}

.sideMenu{
    position: fixed;
    top: 0;
    right: -100em;
    width: 25em;
    height: 100%;
    background-color: #333;
    transition: right 0.3s ease;
    display: flex;
    flex-direction: column;
    grid-area: 5em;
    z-index: 11;
}

.sideMenu.expanded{
    right: 0;
}

#addEntry {
    color: var(--orange-accent);
    padding: 1em;
    background-color: var(--blue-accent);
    text-align: center;
    cursor: pointer;
}

#albumCont {
    position: sticky;
    top: var(--top-bar-height);
    margin-top: var(--top-bar-height);
    width: 100%;
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(var(--number-of-columns), 1fr);
}

#albumCont img, #albumCont div {
    width: 90%;
    height: auto;

    cursor: pointer;
}

.albumCard {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7.5%;

    background-color: var(--secondary-bg-color);
}

.albumArt{
    margin-top: 0.4rem;
    border-radius: 0.8rem;
    border: var(--secondary-text-color) 0.2rem solid;
}

.reviewText {
    width: 75%;
    background: var(--blue-accent);
    color: var(--main-text-color);
    padding: 0.2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    overflow: hidden;
    max-height: 3.5em; /* viser ca. to linjer */
    transition: max-height 0.7s ease;
}

.reviewText.expanded {
    max-height: 1000px; /* utvid når trykket */
}



/* 
Designe først albumBox
Lage en container for basic setup, AlbumCont er til dynamisk
Jeg vil styre --number-of-columns fra nettsiden
Det skal funke på mobil
 */