:root{
    --popup-width: 30rem;
    --popup-height: 23rem;

    --title-font-size: 2.5rem;
    --input-font-size: 1.5rem;
}
@media (max-width: 80rem) {
:root{
    --popup-width: 70%;
    --popup-height: 40%;

    --title-font-size: 2.2rem;
    --input-font-size: 1.2rem;
}
}
#backCover{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: color-mix(in srgb, var(--dark-blue-accent) 95%, transparent);
    z-index: 1000;
}
#loginPopup{
    width: var(--popup-width);
    height: var(--popup-height);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--secondary-bg-color);
    padding: 2rem;
    border-radius: 1rem;
    color: var(--secondary-text-color);
    box-shadow: 0.8rem 0.8rem 0.2rem color-mix(in srgb, var(--orange-accent) 65%, transparent);
    z-index: 1001;
}
#login_Create{
    font-size: var(--title-font-size);
    font-weight: bold;
    margin-bottom: 3rem;
}
#authUsername, #authPass{
    width: 20rem;
    padding: 0.8rem;
    margin-bottom: 0.6rem;
    border-radius: 0.3rem;
    background-color: var(--main-bg-color);
}
#authUsername, #authPass::placeholder{
    font-style: italic;
    color: var(--secondary-text-color);
}
#loginBtn{
    width: 50%;
    padding: 0.8rem;
    margin-top: 0.4rem;
    border: 0.3rem solid var(--dark-blue-accent);
    border-radius: 0.3rem;
    background-color: var(--blue-accent);
    color: var(--main-text-color);
    font-weight: bold;
    cursor: pointer;
}
#loginBtn:hover{
    background-color: var(--dark-blue-accent);
}
#createAccBtn{
    width: 50%;
    padding: 0.4rem;
    margin-top: 1.3rem;
    border: 0.3rem solid var(--secondary-text-color);
    border-radius: 0.3rem;
    background-color: var(--main-bg-color);
    color: var(--secondary-text-color);
    font-weight: bold;
    cursor: pointer;
}
#createAccBtn:hover{
    background-color: var(--dark-blue-accent);
    color: var(--main-text-color);
}
#loginPlease{
    margin-top: 1.5rem;
    font-size: 1.2rem;
    text-align: center;
    font-style: italic;
}